os-user-tf-prod/modules/step-function/step-function-old-with-S3StopInstances.json
{
    "Comment": "A description of my state machine",
    "StartAt": "StartInstances",
    "States": {
      "StartInstances": {
        "Type": "Task",
        "Resource": "arn:aws:lambda:ap-south-1:477323665679:function:S1-StartInstances",
        "Next": "Lambda_Error"
      },
      "Lambda_Error": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.L1_IsError",
            "BooleanEquals": true,
            "Next": "StopInstances"
          }
        ],
        "Default": "NoInstanceToProceed"
      },
      "NoInstanceToProceed": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.NoInstanceToProceed",
            "BooleanEquals": true,
            "Next": "StopInstances"
          }
        ],
        "Default": "Instance_Status"
      },
      "Instance_Status": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.isInstancesStarted",
            "BooleanEquals": true,
            "Next": "WaitForInstancetoRun"
          }
        ],
        "Default": "GetInstanceData"
      },
      "WaitForInstancetoRun": {
        "Type": "Wait",
        "Seconds": 180,
        "Next": "GetInstanceData"
      },
      "GetInstanceData": {
        "Type": "Parallel",
        "Branches": [
          {
            "StartAt": "Linux",
            "States": {
              "Linux": {
                "Type": "Task",
                "Resource": "arn:aws:lambda:ap-south-1:477323665679:function:S2-LinuxUsers",
                "End": true
              }
            }
          },
          {
            "StartAt": "Windows",
            "States": {
              "Windows": {
                "Type": "Task",
                "Resource": "arn:aws:lambda:ap-south-1:477323665679:function:S2-WindowsUsers",
                "End": true
              }
            }
          }
        ],
        "ResultPath": "$.ParallelStateOutput",
        "Next": "StopInstances"
      },
      "StopInstances": {
        "Type": "Task",
        "Resource": "arn:aws:lambda:ap-south-1:477323665679:function:S3-StopInstances",
        "Next": "SendNotification"
      },
      "SendNotification": {
        "Type": "Task",
        "Resource": "arn:aws:lambda:ap-south-1:477323665679:function:S4-SendMail",
        "End": true
      }
    }
  }